:root {
  /* CSS变量一定要以 -- 开头 */
  --marketHeight: calc(100vh - 190px);
  --generalHeight: calc(100vh - 56px);
  --panelHeight: calc(100vh - 56px - 15px - 26px - 25px - 43px);
  --appExportHeight: calc(100% - 56px);
  --attrStyleHeight: calc(100vh - 56px - 60px - 40px - 40px);
}
